/* --- 
 * COLORS 
 * --- */
:root {
  /* - Main colo - */
  --border-color: #999999;
  --text-color: #cccccc;
  --h1-color: #ffffff;
  --back-color: #1a1a1a;
  /* - Footer color - */
  --footer-color: #4a4a4a;
  --link-footer-color: #666666;
}

/* --- 
 * HTML AND BODY 
 * --- */
html {
	/* - Color - */
	color: #eaeaea;
	background-color: #0d0d0d;

  /* - Font - */
  font-family: 'Courier New', monospace;
}

body {
  /* - Aligment - */
  margin: 0;
  padding: 0;
}

/* ________________________________________________________________________ */

/* --- 
 * HEADER 
 * --- */
header{
	/* - Size - */
	width: 100%;
	padding: 40px;

	/* - Color - */
	border-bottom: 4px solid var(--border-color);
	background-color: var(--back-color);

	/* - Display - */
	display: flex;

  /* - Aligment - */
  text-align: center;
  align-items: center;
  
	/* - Position - */
	position: sticky;
  top: 0;
  z-index: 100;
  flex-direction: column;

  /* - Animation - */
  transition: 
  border-color 0.5s ease;
}

/* -- Header h1 -- */
header h1 {
  text-shadow: 8px 8px 7.5px black;
}

/* -- Header Hover -- */
header:hover {
  border-color: var(--text-color);
}

/* --- 
 * NAV 
 * --- */
.main-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* -- Link Nav -- */
.main-nav a {
  /* - Color - */
	color: #5e5e5e;

  /* - Animation - */
  transition: 
  color 0.5s ease,
  transform 1s ease;
}

/* -~ Link Hover Nav ~- */
.main-nav a:hover {
	color: #3e3e3e;
  transform: scale(1.05);
}

/* -~ Link Visited Nav ~- */ 
.main-nav a:visited {
  color: hsl(000 0% 20%);
}

/* -~ Link Focus Nav ~- */
.main-nav a:focus {
  color: var(--border-color);
}

/* -~ Link After Nav ~- */
.main-nav a::after {
    content: "\A";
    white-space: pre;
}

/* ---
 * MAIN
 * --- */

main {
  /* - Size - */  
  max-width: 700px;
  margin: 0 auto;
  padding: 10px;

  /* - Border - */
  border-left: 8px groove var(--border-color);
  padding-left: 50px;
}

/* --- 
 * FOOTER
 * --- */
footer {
  /* - Border - */
  border-top: 4px solid var(--border-color);

  /* - Aligment - */
  padding: 10px;
  text-align: center;

  /* - Size - */
  font-size: 0.8rem;


  /* - Color - */
  background-color: #1a1a1a; 
  color: var(--footer-color);

  /* - Animation - */
  transition: 
  border-color 0.5s ease;
}

/* -- Footer Hover -- */
footer:hover {
  border-color: var(--text-color);
}

/* -- Footer Text -- */
footer p {
  margin: 0 auto;
  height: 6vh;
}

/* -- Footer Link -- */
footer a {
    font-size: 1rem;
    color: var(--link-footer-color);
    padding-left: 40px;
}

/* -~ Link Visited Footer ~- */
footer a:visited {
    color: var(--link-footer-color);
}

/* ________________________________________________________________________ */

/* ---
 * SECTION
 * --- */
section {  
  /* - Aligment - */
  margin-bottom: 150px;
}

/* --- 
 * ARTICLE
 * --- */
article {
  /* - Size - */
  margin-bottom: 100px;
  padding: 12px;

  /* - Border - */
  border: 4px solid #777777;

  /* - Color - */
  background-color: var(--back-color);

  /* - Animation - */
  transition: 
  border-color 0.5s ease,
  box-shadow 1s ease,
  transform 1s ease;

  /* - Shadow - */
  box-shadow: 20px 20px 10px black;
}

/* -- Article Hover -- */
article:hover {
  border-color: #aaaaaa;
  box-shadow: 26px 26px 14px black;
  transform: scale(1.05);
}

/* -- Link Article -- */
article a {
  /* - Animation - */
  transition: 
  transform 0.5s ease,
  background-color 5s ease-in;

  /* - Border - */
  border-radius: 12px;
}

/* -~ Link Hover Article ~- */
article a:hover {
  transform: scale(1.025);
}

/* ________________________________________________________________________ */

/* ---
 * HEADING
 * --- */

h1, h2, h3 {
  /* - Aligment - */
  margin-bottom: 50px;
}

/* -- h2+h3 Style -- */ 
h2, h3 {
  /* - Link Style - */
  letter-spacing: 5px;
  font-weight: normal;

  /* - Aligment - */
  margin-top: 30px;
  line-height: 40px; 
}


/* -- h1 Style -- */
h1 {
  /* - Color - */
  color: var(--h1-color);

  /* - Size - */
  font-size: 2.5rem;

  /* - Text Style - */
  letter-spacing: 9px;
  text-transform: uppercase;
}

/* -~ h1 After Style ~- */ 
h1::after{
  content: " 🖥️";
}

/* -- h2 Style -- */
h2 {
  /* - Color - */
  color: var(--text-color);
  background-color: var(--back-color);

  /* - Size - */
  font-size: 1.2rem;

  /* - Border - */
  border-bottom: 6px solid var(--border-color);
  border-radius: 12px;

  /* - Animation - */
  transition: 
  transform 1s ease;

  /* - Aligment - */
  padding-bottom: 20px;
}

/* -~ h2 Hover Style ~- */
h2:hover {
  transform: scale(1.02);
}

/* -~ h2 Before Style ~- */
h2::before {
  content: "// ";
}

/* -- h3 Style -- */
h3 {
  /* - Color - */
  color: var(--border-color);

  /* - Size - */
  font-size: 1.1rem;
}

/* -~ h3 Before Style ~- */
h3::before {
  content: ">";
}

/* ---
 * TEXT
 * --- */
p {
  /* - Size - */
  line-height: 1.6rem;
  max-width: 200px;

  /* - Aligment - */
  margin-bottom: 20px;
}

/* -~ Headert Not ~- */
header p {
  max-width: none;
}

/* -- First Section Text Style -- */
.p-base {
  /* - Not All - */
  max-width: none;

  /* - Color - */
  background-color: var(--footer-color);

  /* - Border - */
  border: 6px solid hsl(000 0% 16%);
  border-radius: 12px;

  /* - Aligment - */
  text-align: center;

  /* - Size - */
  margin-bottom: 50px;
  height: 10vh;

  /* - Animation - */
  transition: 
  transform 1s ease;
} 

.p-base:hover {
  transform: scale(1.05);
}

/* -~ p-base Not All ~- */
.p-base p {
  color: var(--text-color);
}

/** -~ Aligment centre ~- */
.two-base {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ---
 * LINK
 * --- */

a {
  /* - Display - */
  display: inline-block;

  /* - Aligment - */
  margin-top: 12px;

  /* - Color - */
  color: #7a7a7a;

  /* - Animation - */
  transition: color 0.5s ease;

  /* - Decorration - */
  text-decoration: none;
}

/* -- Link Visited -- */
a:visited {
  color: var(--footer-color);
}

/* -- Link Hover -- */
a:hover {
  color: #888888;
}

/* -- Link Focus -- */
a:focus {
  color: var(--h1-color);
  outline: none;
}

/* ________________________________________________________________________ */

/* --- 
 * CODE
 * --- */

code {
  /* - Position - */
  position: absolute;
  
  /* - Aligment - */
  margin-left: 90vw;
}

/* ________________________________________________________________________ */

/* --- 
 * ADAPTATION
 * --- */
@media (max-width: 786px) {
  /* -- Heading -- */
  h1 {
    font-size: 18px;
  }

  h2 {
    font-size: 15px;
  }

  h3 {
    font-size: 14.5px;
  }

  /* -- Text -- */
  p {
    font-size: 14px;
  }

  /* -- Link -- */
  a {
    font-size: 15px;
  }

  footer a {
    margin-top: 40px;
    font-size: 15px;
  }

  code {
    padding-right: 200px;
    font-size: 10px;
  }
}
